.vs
*.vcxproj.filters
*.vcxproj.user
x64
bin
bino
bind
*.VC.opendb
*.sdf
*.vsp
*.psess
*.vspx
*.org
*.obj
!gvmat64.obj
!inffasx64.obj
*.o
!Main.o
*.exe
*.aps
*.a
*.dll
*.debug
*.release
*.log
*.ast
*.classmap
lib
trace
repository
Debug
Release
install
ucd.all.flat.xml
wingstall.package.bin
wingstall_ucd.bin
