.vs
*.vcxproj.filters
*.vcxproj.user
x64
bin
bino
bind
*.VC.opendb
*.sdf
*.vsp
*.psess
*.vspx
*.org
*.obj
*.o
!Main.o
*.exe
*.aps
*.a
*.dll
*.debug
*.release
*.log
*.ast
*.classmap
lib
trace
repository
Debug
Release
install
