horizontal.splitter.wing.cursor CURSOR "../wing/res/horizontal.splitter.wing.cur"
vertical.splitter.wing.cursor CURSOR "../wing/res/vertical.splitter.wing.cur"
column.size.wing.cursor CURSOR "../wing/res/column.size.wing.cur"
package.icon ICON "../res/package.ico"
add.bitmap BITMAP "../res/add.bmp"
add.document.bitmap BITMAP "../res/add_document.bmp"
add.file.bitmap BITMAP "../res/add_file.bmp"
add.folder.bitmap BITMAP "../res/add_folder.bmp"
components.bitmap BITMAP "../res/components.bmp"
component.bitmap BITMAP "../res/component.bmp"
delete.file.bitmap BITMAP "../res/delete_file.bmp"
delete.file.cascade.bitmap BITMAP "../res/delete_file_cascade.bmp"
delete.folder.bitmap BITMAP "../res/delete_folder.bmp"
delete.folder.cascade.bitmap BITMAP "../res/delete_folder_cascade.bmp"
environment.bitmap BITMAP "../res/environment.bmp"
environment.var.bitmap BITMAP "../res/environment_var.bmp"
file.bitmap BITMAP "../res/file.bmp"
folder.closed.bitmap BITMAP "../res/folder_closed.bmp"
folder.opened.bitmap BITMAP "../res/folder_opened.bmp"
library.bitmap BITMAP "../res/library.bmp"
links.bitmap BITMAP "../res/links.bmp"
link.folders.bitmap BITMAP "../res/link.folders.bmp"
linked.folder.closed.bitmap BITMAP "../res/linked_folder_closed.bmp"
linked.folder.opened.bitmap BITMAP "../res/linked_folder_opened.bmp"
package.bitmap BITMAP "../res/package-red.bmp"
remove.bitmap BITMAP "../res/remove.bmp"
rules.bitmap BITMAP "../res/rules.bmp"
shortcuts.bitmap BITMAP "../res/shortcuts.bmp"
shortcut.bitmap BITMAP "../res/shortcut.bmp"
document.collection.bitmap BITMAP "../res/document_collection.bmp"
package.properties.bitmap BITMAP "../res/package_properties.bmp"
path.directory.bitmap BITMAP "../res/path_directory.bmp"
engine.variables.bitmap BITMAP "../res/engine_variables.bmp"
engine.variable.bitmap BITMAP "../res/engine_variable.bmp"
xml.file.bitmap BITMAP "../res/xml_file.bmp"
save.bitmap BITMAP "../res/save.bmp"
build.bitmap BITMAP "../res/build.bmp"
cancel.build.bitmap BITMAP "../res/cancel_build.bmp"
up.arrow.bitmap BITMAP "../res/up_arrow.bmp"
